.card {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;

  @each $name, $color in $colors {
    &.card-#{$name} {
      border: 3px solid mix($color, white, $fluent_color_mix);
    }
  }

  & > .card-body {
    padding: 20px 25px;

    h2{
      font-size: 20px;
    }
  }
}

.card-list {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 450px));

}

a.card {
  cursor: pointer;
  text-decoration: none;

  .card-body {
    transition: opacity 0.3s !important;
  }

  &:hover .card-body {
    opacity: 0.5;
  }
}