.content {
  display: flex;
  flex-direction: column;
}

.content.content-center {
  width: 1090px;
  max-width: 100%;
  align-self: center;


  & > .card > .card-body {
    padding: 15px 25px 20px;
    @media screen and (min-width: $dashboard_nav-left_responsive) {
      padding: 30px 50px 44px;
    }

  }

  & > .title-section {
    justify-content: center;
  }

  & > h1, & > h2, & > p, & > .title-section > h1, & > .title-section > h2, & > p {
    text-align: center;
    max-width: 700px;
    align-self: center;
  }

}

.content.content-four {
  margin-top: 20px;
  display: grid;
  grid-gap: 60px 45px;
  grid-template-columns: 450px 1fr;
  width: 100%;
}