$default_grid_break: (1150, 950);
$grid-template: (
        2: (1:800),
        3: (2:900, 1:600),
        4: (3:1100, 2:900, 1:600),
        5: (4:1400, 3:1100, 2:900, 1:600),
);

@mixin DefaultGridColSpan($max,$pre : '') {

  & > .grid-rfull#{$pre} {
    grid-column: 1/-1;
  }

  @for $i from 0 through $max {
    & > .grid-cspan#{$pre}-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@mixin DefaultGrid($init, $breakpoints) {
  display: grid;
  grid-template-columns: repeat(#{$init}, 1fr);
  grid-gap: 15px;
  width: 100%;
  @content;

  @include DefaultGridColSpan($init);

  @each $col, $size in $breakpoints {
    @media screen and (max-width: #{$size}px) {
      @include DefaultGridColSpan($col, $col);
      grid-template-columns: repeat($col, 1fr);
    }
  }

}

@each $name, $breakpoint in $grid-template {
  .grid#{$name} {
    @include DefaultGrid($name, $breakpoint) {
      & > a, & > li > a {
        margin-top: 7px;
        margin-bottom: 7px;
      }
    }

  }
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > a, & > li > a {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  grid-gap: 15px;
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }

}

ul.grid2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    max-width: 540px;
  }
  @media screen and (min-width: 800px) {
    max-width: 720px;
  }
  @media screen and (min-width: 1000px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }

}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
