$icon_square_mix_amount: $btn_mix_amount - 10%;
$icon_square_size: 50px;

$default_color: $light_blue_color;
$default_background_color: mix($default_color, white, $icon_square_mix_amount);

.icon-square {
  width: $icon_square_size;
  height: $icon_square_size;
  min-width: $icon_square_size;
  min-height: $icon_square_size;
  border-radius: 5px;

  background: $default_background_color;
  color: darken($default_color, 5%);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $icon_square_size - 25px;

  & > img {
    width: 18px;
  }

  i {
    &:first-child {
      margin-left: 0;
    }

    margin: 0 4px;

    &:last-child {
      margin-left: 0;
    }
  }

  @each $class, $color in $colors {
    &.icon-square-#{$class} {
      background: mix($color, white, $icon_square_mix_amount);
      border-color: mix($color, white, $icon_square_mix_amount);
      color: darken($color, 5%);
    }
  }

}

.map-marker > .icon-square {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 1.6em;
}