.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }


.hero-title {
  margin: 16px 0;
  font-weight: 600;
  color: var(--color-h2);
  font-size: 46px;
}

.hero-text {
  margin: 6px 0;
  font-weight: 400;
  color: var(--color-text);
  font-size: 22px;
}

.text-danger {
  color: var(--color-red);
}

.text-muted {
  color: var(--color-text-muted);
  font-style: italic;
}

.text-crossed {
  text-decoration: line-through;
}

hr {
  border: 1px solid var(--color-text_hover);
  width: 90%;

  margin-top: 30px;
  margin-bottom: 20px;

  &.hr-center {
    margin-right: auto;
    margin-left: auto;
  }

  &.hr-right {
    margin-right: 0;
    margin-left: auto;
  }

  &.hr-left {
    margin-right: auto;
    margin-left: 0;
  }

  @each $size in (100, 90, 75, 50, 25) {
    &.hr-#{$size} {
      width: $size * 1%;
    }
  }

}

ul {
  margin: 5px;
}