#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  gap: 50px;
  align-items: center;
  padding: 10px;
  color: black;
  &>h1 {
    color: #333333;
    font-size: 2em;
  }
  &>ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  &>div {
    display: flex;
    margin-left: auto;
    gap: 10px;
    & > .login, & > .basket {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 5px;
      background: #e6e6e6;
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 10px;
      color: black;
      border-radius: 5px;

      & > a {
        color: black;
        text-decoration: none;
      }
    }
  }
  .categories {
    display: flex;
    position: relative;
    &>ul {
      display: flex;
      position: absolute;
      width: auto;
      top: calc(100% + 25px);
      left: 0;
      background: #FFFFFF;
      border: 1px solid rgba(0,0,0,0.15);
      border-radius: 5px;
      padding: 10px;
      gap: 10px;
      flex-direction: column;
      list-style: none;
      &>li {
        display: flex;
        gap: 10px;
        &>a {
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  width: 100%;
}
