@import "ui/btn";
@import "ui/spacing";
@import "ui/form";
@import "ui/grid";
@import "ui/text";
@import "ui/table";
@import "ui/stack";
@import "ui/card";
@import "ui/badge";
@import "ui/icon_square";
@import "ui/content_container";

html {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  overflow-y: scroll !important;
  min-height: 100%;

  color: var(--color-text);

}

* {
  box-sizing: inherit;
}

a:not(.btn) {
  color: var(--color-text_href);
  text-decoration: none;
  transition: color 0.3ms;

  &:hover {
    color: var(--color-text_href_hover);
  }
}

//h1, h2, h3, h4 {
//  a {
//    color: inherit;
//    text-decoration: none;
//    transition: color 0.3ms;
//
//    &:hover {
//      color: var(--color-text_href_hover);
//    }
//  }
//}

h1 {
  margin: 4px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.02em;

  color: var(--color-h1);
}

h2 {
  margin: 4px 0 10px;
  font-weight: 600;
  font-size: 32px;
  color: var(--color-h2);
}

h3 {
  margin: 4px 0;
  font-weight: 500;
  font-size: 26px;
  color: var(--color-h3);
}

h4 {
  margin: 4px 0;
  font-weight: 500;
  font-size: 22px;
  color: var(--color-h4);
}

p {
  padding: 0;
  margin: 4px 0;
  font-size: 16px;
  color: var(--color-text);
}