@import "vars";
@import "ui";

:root {
  --color-h1: #3d3d3d;
  --color-text: var(--color-h1);
}

* {
  box-sizing: inherit;
}


html {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  overflow-y: scroll;
  min-height: 100%;

}
